.fightStartButton {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .fightStartButton:hover {
    background-color: #ffffff;
    box-shadow: #ff0000 0 -6px 8px inset;
    transform: scale(1.125);
  }
  
  .fightStartButton:active {
    transform: scale(1.025);
  }
  
  .bfightStartButton {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
  
  .displayEnemyImage {
    height: 250px;
    width: 250px;
    border-width: 6px;
    border-style: solid;
    border-color: #000000;
    background-image: url("selectRandom.jpg");
    background-size: cover;
  }

  .stats {
    text-align: center;
    color: crimson;
    font-size: larger;
    font-family: fantasy;
    margin: initial;
  }

  .basic{
    color: #FFFFFF;
  }  


  .styleEnemyName{
    color: #FFFFFF;
  }

  .locationName{
    color: #ffffff;
    font-size: 20px;
    
  }